@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&family=Playfair+Display&display=swap');

body {
  background-color: rgb(96 165 250);
  font-family: 'Merriweather', 'sans-serif';
}

#facebook-icon path {
  fill: #212121;
}

#facebook-icon:hover path {
  fill: #4267B2;
}

#linkedin-icon path {
  fill: #212121;
}

#linkedin-icon:hover path {
  fill: #0072b1;
}

#github-icon path {
  fill: #000;
}
